# PocketBase
POCKETBASE_ADMIN_EMAIL=admin@wheza.id
POCKETBASE_ADMIN_PASSWORD=Admin123!
VITE_POCKETBASE_URL=http://localhost:9004

# Tripay
TRIPAY_API_URL=https://tripay.co.id/api-sandbox
TRIPAY_API_KEY=
TRIPAY_PRIVATE_KEY=
TRIPAY_MERCHANT_CODE=
