# PocketBase
POCKETBASE_URL=http://pocketbase:8090
POCKETBASE_ADMIN_EMAIL=admin@wheza.id
POCKETBASE_ADMIN_PASSWORD=Admin123!

# Tripay
TRIPAY_API_URL=https://tripay.co.id/api-sandbox
TRIPAY_API_KEY=
TRIPAY_PRIVATE_KEY=
TRIPAY_MERCHANT_CODE=

# Washarp
WASHARP_API_URL=https://washarp.online/api
WASHARP_API_KEY=
RAGNA_WEBHOOK_URL=https://ragna.wheza.id/api/webhook/washarp

# Groq
GROQ_API_KEY=
